<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{$basePath}">
                            Home <span class="sr-only">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{link persons}">
                            Persons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{link meetings}">
                            Meetings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{link relations}">
                            Relations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {include body|indent}
    </main>
    <footer class="card-footer font-weight-light container mt-3 d-flex justify-content-center">
        <p>Made by Michal Petrek</p>
    </footer>
</body>
</html>