{extends layout.latte}

{block title}Meeting info{/block}

{block body}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{link meetingsUpdate}?id_meeting={$meeting['id_meeting']}">
                <span class="fa fa-pen"></span>&nbsp;edit
            </a>
            <form class="" method="post" onsubmit="return confirm('Are you sure?')" action="{link meetingsDelete}?id_meeting={$meeting['id_meeting']}">
                <button class="btn btn-danger" type="submit">
                    <span class="fa fa-trash"></span>&nbsp;delete
                </button>
            </form>
        </div>
        <div class="row">
            <div class="col-6">
                <h1>Meeting</h1>
                <section>
                    <h2>Info</h2>
                    <table class="table">
                        <tr>
                            <th>Start:</th>
                            <td>{$meeting['start']}</td>
                        </tr>
                        <tr>
                            <th>Duration:</th>
                            <td>{$meeting['duration']}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{$meeting['description']}</td>
                        </tr>
                    </table>
                </section>

                {if !empty($meeting['country'].$meeting['city'].$meeting['street_name'].$meeting['name'].$meeting['zip'])}
                <section>
                    <h2>Location</h2>
                    <table class="table">
                        {if isset($meeting['country'])}
                            <tr>
                                <th>Country:</th>
                                <td>{$meeting['country']}</td>
                            </tr>
                        {/if}
                        {if isset($meeting['city'])}
                            <tr>
                                <th>City:</th>
                                <td>{$meeting['city']}</td>
                            </tr>
                        {/if}
                        {if (isset($meeting['street_name']) || isset($meeting['street_number']))}
                            <tr>
                                <th>Street and number:</th>
                                <td>{$meeting['street_name'] . ' ' . $meeting['street_number']}</td>
                            </tr>
                        {/if}
                        {if isset($meeting['name'])}
                            <tr>
                                <th>Name:</th>
                                <td>{$meeting['name']}</td>
                            </tr>
                        {/if}
                        {if isset($meeting['zip'])}
                            <tr>
                                <th>Zip:</th>
                                <td>{$meeting['zip']}</td>
                            </tr>
                        {/if}
                    </table>
                </section>
                {/if}
            </div>

            <div class="col-6">
                <section>
                    {if !empty($participant)}
                    <h2>Participants</h2>
                    <table class="table">
                    {foreach $participant as $p}
                        <tr>
                            <th><a href="{link personsInfo}?id_person={$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</a></th>
                            <td>
                                <form class="" method="post" onsubmit="return confirm('Are you sure?')"
                                      action="{link participantDelete}?id_meeting={$meeting['id_meeting']}&id_person={$p['id_person']}">
                                    <button class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {/foreach}
                    </table>
                    {/if}
                    <form method="post" action="{link participantAdd}?id_meeting={$meeting['id_meeting']}" class="form">
                        <div class="form-row">
                            <div class="col-sm-8 form-group">
                                <select class="form-control" name="id_person" id="id_person">
                                    {foreach $person as $p}
                                    <option value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="col-sm-2 form-group">
                                <button class="btn btn-primary" type="submit">
                                    <span>Add participant</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

{/block}