{extends layout.latte}

{block title}Meetings{/block}

{block body}
    <div class="container p-0">
        <h1>Meetings</h1>
        {if isset($message)}
            <p>{$message}</p>
        {/if}
    </div>
    <div class="container p-0 mb-2">
        <a class="btn btn-success" href="{link newMeeting}">
            Add new meeting
        </a>
    </div>
    <table class="table table-striped table-hover container">
        <tr>
            <th><div class="d-flex justify-content-center">Start</div></th>
            <th><div class="d-flex justify-content-center">Duration</div></th>
            <th><div class="d-flex justify-content-center">Description</div></th>
            <th><div class="d-flex justify-content-center">Participants count</div></th>
            <th><div class="d-flex justify-content-center">Info</div></th>
            <th><div class="d-flex justify-content-center">Edit</div></th>
            <th><div class="d-flex justify-content-center">Delete</div></th>
        </tr>

        {foreach $meetings as $m}
            <tr>
                <td><div class="d-flex justify-content-center">{$m['start']}</div></td>
                <td><div class="d-flex justify-content-center">{$m['duration']}</div></td>
                <td><div class="d-flex justify-content-center">{$m['description']}</div></td>
                <td><div class="d-flex justify-content-center">{$m['participants_count']}</div></td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-info" href="{link meetingInfo}?id_meeting={$m['id_meeting']}">
                            <span class="fa fa-address-card"></span>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-info" href="{link meetingsUpdate}?id_meeting={$m['id_meeting']}">
                            <span class="fa fa-pen"></span>
                        </a>
                    </div>
                </td>
                <td>
                    <form class="d-flex justify-content-center" method="post" onsubmit="return confirm('Are you sure?')"
                          action="{link meetingsDelete}?id_meeting={$m['id_meeting']}">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {/foreach}

    </table>


{/block}