<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <!-- Osoba -->
        <div class="form-row">
            <div class="col-sm-3 form-group">
                <label for="start_date">Start date</label>
                <input class="form-control" type="date" id="start_date" name="start_date"
                       required value="{$formData['start_date']}">
            </div>

            <div class="col-sm-3 form-group">
                <label for="start_time">Start time</label>
                <input class="form-control" type="time" id="start_time" name="start_time"
                       required value="{$formData['start_time']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="duration">Duration</label>
                <input class="form-control" type="time" id="duration" name="duration" placeholder="Duration"
                       value="{$formData['duration']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" id="description" name="description" placeholder="Description"
                       value="{$formData['description']}">
            </div>
        </div>

        <!-- Adresa -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" id="city" name="city" placeholder="City" value="{$formData['city']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" id="street_name" name="street_name" placeholder="Street name" value="{$formData['street_name']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" id="street_number" name="street_number" placeholder="Street number" value="{$formData['street_number']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="zip">Zip code</label>
                <input class="form-control" type="text" id="zip" name="zip" placeholder="Zip code" value="{$formData['zip']}">
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>