{extends layout.latte}

{block title}Page not found{/block}

{block body}
    <div class="container">
        <h1>Page not found</h1>
        {if isset($error)}
        <br>Error occured: {$error}
        {/if}
    </div>
{/block}