{extends layout.latte}

{block title}Person info{/block}

{block body}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{link personsUpdate}?id_person={$person['id_person']}">
                <span class="fa fa-pen"></span>&nbsp;edit
            </a>
            <form class="" method="post" onsubmit="return confirm('Are you sure?')" action="{link personsDelete}?id_person={$person['id_person']}">
                <button class="btn btn-danger" type="submit">
                    <span class="fa fa-trash"></span>&nbsp;delete
                </button>
            </form>
        </div>
        <h1>{$person['first_name'].' '.$person['last_name']}</h1>
        <div class="row">
            <div class="col-6">
                <section>
                    <h2>Personal info</h2>
                    <table class="table">
                        <tr>
                            <th>Nickname:</th>
                            <td>{empty($person['nickname']) ? '-' : $person['nickname']}</td>
                        </tr>
                        <tr>
                            <th>Birth day:</th>
                            <td>{empty($person['birth_day']) ? '-' : $person['birth_day']}</td>
                        </tr>
                        <tr>
                            <th>Height:</th>
                            <td>{empty($person['height']) ? '-' : $person['height']}</td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>{empty($person['gender']) ? '-' : $person['gender']}</td>
                        </tr>
                    </table>
                </section>

                {if !empty($location)}
                <section>
                    <h2>Address</h2>
                    <table class="table">
                        {if isset($location['country'])}
                        <tr>
                            <th>Country:</th>
                            <td>{$location['country']}</td>
                        </tr>
                        {/if}
                        {if isset($location['city'])}
                        <tr>
                            <th>City:</th>
                            <td>{$location['city']}</td>
                        </tr>
                        {/if}
                        {if (isset($location['street_name']) || isset($location['street_number']))}
                        <tr>
                            <th>Street and number:</th>
                            <td>{$location['street_name'] . ' ' . $location['street_number']}</td>
                        </tr>
                        {/if}
                        {if isset($location['name'])}
                        <tr>
                            <th>Name:</th>
                            <td>{$location['name']}</td>
                        </tr>
                        {/if}
                        {if isset($location['zip'])}
                        <tr>
                            <th>Zip:</th>
                            <td>{$location['zip']}</td>
                        </tr>
                        {/if}
                    </table>
                </section>
                {/if}

                {if !empty($contact)}
                <section>
                    <h2>Contacts</h2>
                    <table class="table">
                    {foreach $contact as $c}
                        <tr>
                            <th>{$c['name']}:</th>
                            <td>{$c['contact']}</td>
                        </tr>
                    {/foreach}
                    </table>
                </section>
                {/if}

                {if !empty($relation)}
                    <section>
                        <h2>Relations</h2>
                        <table class="table">
                            {foreach $relation as $r}
                                <tr>

                                    <th>{ucfirst($r['name']) . ' with '}
                                        <a href="{link personsInfo}?id_person={$r['id_person1'] == $person['id_person'] ? $r['id_person2'] : $r['id_person1']}">
                                            {$r['id_person1'] == $person['id_person'] ? $name[$r['id_person2']] : $name[$r['id_person1']]}
                                        </a>
                                    </th>
                                    <td>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <form class="" method="post" onsubmit="return confirm('Are you sure?')" action="{link relationDelete}?id_relation={$r['id_relation']}&id_person={$person['id_person']}">
                                                <button class="btn btn-sm btn-danger" type="submit">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-sm btn-primary" href="{link relationInfo}?id_relation={$r['id_relation']}"><span class="fa fa-angle-double-right"></span></a>

                                        </div>
                                    </div>
                                    </td>
                                </tr>
                                {if !empty($r['description'])}
                                    <tr>
                                        <th>Description:</th>
                                        <td>{$r['description']}</td>
                                    </tr>
                                {/if}
                                <tr class="blank_row">
                                    <td></td>
                                    <td></td>
                                </tr>
                            {/foreach}
                        </table>
                    </section>
                {/if}
                <div class="col-6">
                    <a class="btn btn-sm btn-primary" href="{link newRelation}?id_person={$person['id_person']}">Add relation</span></a>
                </div>
            </div>

            {if !empty($meeting)}
            <div class="col-6">
                <section>
                    <h2>Meetings</h2>
                    <table class="table">
                    {foreach $meeting as $m}
                        <tr>
                            <th>Meeting</th>
                            <td><a class="btn btn-sm btn-primary" href="{link meetingInfo}?id_meeting={$m['id_meeting']}"><span class="fa fa-angle-double-right"></span></a></td>
                        </tr>
                        {if !empty($m['start'])}
                            <tr>
                                <th>Start:</th>
                                <td>{$m['start']}</td>
                            </tr>
                        {/if}
                        {if !empty($m['duration'])}
                            <tr>
                                <th>Duration:</th>
                                <td>{$m['duration']}</td>
                            </tr>
                        {/if}
                        {if !empty($m['description'])}
                            <tr>
                                <th>Description:</th>
                                <td>{$m['description']}</td>
                            </tr>
                        {/if}
                        <tr class="blank_row">
                            <td></td>
                            <td></td>
                        </tr>
                    {/foreach}
                    </table>
                </section>
            </div>
            {/if}
        </div>
    </div>
{/block}