<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <!-- Osoba -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First name"
                       required value="{$formData['first_name']}">
            </div>
             
            <div class="col-sm-4 form-group">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name" required
                    value="{$formData['last_name']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="nickname">Nickname</label>
                <input class="form-control" type="text" id="nickname" name="nickname" placeholder="Nickname" required
                    value="{$formData['nickname']}">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="height">Height</label>
                <input class="form-control" type="number" id="height" name="height" placeholder="Height"
                    value="{$formData['height']}">
            </div>
             
            <div class="col-sm-4 form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="female" {if $formData['gender']=='female'}selected{/if}>Female</option>
                    <option value="male" {if $formData['gender']=='male'}selected{/if}>Male</option>
                </select>
            </div>

            <div class="col-sm-4 form-group">
                <label for="birth_day">Birth day</label>
                <input class="form-control" type="date" id="birth_day" name="birth_day" placeholder="Date of birth",
                    value="{$formData['birth_day']}">
            </div>
        </div>
        <!-- Adresy -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" id="city" name="city" placeholder="City" value="{$formData['city']}">
            </div>
             
            <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" id="street_name" name="street_name" placeholder="Street name" value="{$formData['street_name']}">
            </div>
             
            <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" id="street_number" name="street_number" placeholder="Street number" value="{$formData['street_number']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="zip">Zip code</label>
                <input class="form-control" type="text" id="zip" name="zip" placeholder="Zip code" value="{$formData['zip']}">
            </div>
        </div>
        <!-- Kontakty -->
        {if isset($contacts)}
            {foreach $contacts as $c}
                <div class="form-row">
                    <div class="col-sm-8 form-group">
                        <label for="contact_{$c['id_contact']}">{ucfirst($c['name'])}</label>
                        <input class="form-control" type="text" id="contact_{$c['id_contact']}"
                               name="contact_{$c['id_contact']}" value="{$c['contact']}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="contact_type_{$c['id_contact']}">Contact type</label>
                        <select class="form-control" id="contact_type_{$c['id_contact']}" name="contact_type_{$c['id_contact']}">
                            <option value="1" {if $c['id_contact_type'] == 1}selected{/if}>Facebook</option>
                            <option value="2" {if $c['id_contact_type'] == 2}selected{/if}>Skype</option>
                            <option value="3" {if $c['id_contact_type'] == 3}selected{/if}>Tel.</option>
                            <option value="4" {if $c['id_contact_type'] == 4}selected{/if}>Email</option>
                            <option value="5" {if $c['id_contact_type'] == 5}selected{/if}>Jabber</option>
                            <option value="6" {if $c['id_contact_type'] == 6}selected{/if}>Web</option>
                        </select>
                    </div>
                </div>
            {/foreach}
        {/if}
        <!-- Novy kontakt -->
        <div class="form-row">
            <div class="col-sm-8 form-group">
                <label for="contact">New contact</label>
                <input class="form-control" type="text" id="contact" name="contact"
                       placeholder="Contact" value="{$formData['contact']}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="contact_type">Contact type</label>
                <select class="form-control" name="contact_type" id="contact_type">
                    <option value="" hidden disabled {if $formData['contact_type'] == ''}selected{/if}>Choose option</option>
                    <option value="1" {if $formData['contact_type'] == 1}selected{/if}>Facebook</option>
                    <option value="2" {if $formData['contact_type'] == 2}selected{/if}>Skype</option>
                    <option value="3" {if $formData['contact_type'] == 3}selected{/if}>Tel.</option>
                    <option value="4" {if $formData['contact_type'] == 4}selected{/if}>Email</option>
                    <option value="5" {if $formData['contact_type'] == 5}selected{/if}>Jabber</option>
                    <option value="6" {if $formData['contact_type'] == 6}selected{/if}>Web</option>
                </select>
            </div>
        </div>

        <br>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>