{extends layout.latte}

{block title}Person{/block}

{block body}
    <div class="container p-0">
        <h1>Persons</h1>
        {if isset($message)}
            <p>{$message}</p>
        {/if}
    </div>
    <div class="container p-0 mb-2">
        <div class="row container">
            <form method="post">
                <div class="form-row">
                    <div class="col-sm-8">
                        <input class="form-control" list="search" name="search" placeholder="Name">
                        <datalist id="search">
                            {foreach $persons as $p}
                            <option value="{$p['first_name']}"></option>
                            <option value="{$p['last_name']}"></option>
                            <option value="{$p['nickname']}"></option>
                            {/foreach}
                        </datalist>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-search"></span>&nbsp;Search
                        </button>
                    </div>
                </div>
            </form>
            <a class="btn btn-success" href="{link newPerson}">
                Add new person
            </a>
        </div>
    </div>
        <table class="table table-striped table-hover container">
            <tr>
                <th><div class="d-flex justify-content-center">First name</div></th>
                <th><div class="d-flex justify-content-center">Last name</div></th>
                <th><div class="d-flex justify-content-center">Nickname</div></th>
                <th><div class="d-flex justify-content-center">Height</div></th>
                <th><div class="d-flex justify-content-center">Gender</div></th>
                <th><div class="d-flex justify-content-center">Info</div></th>
                <th><div class="d-flex justify-content-center">Edit</div></th>
                <th><div class="d-flex justify-content-center">Delete</div></th>
            </tr>

            {foreach $osoby as $o}
                <tr>
                    <td><div class="d-flex justify-content-center">{$o['first_name']}</div></td>
                    <td><div class="d-flex justify-content-center">{$o['last_name']}</div></td>
                    <td><div class="d-flex justify-content-center">{$o['nickname']}</div></td>
                    <td><div class="d-flex justify-content-center">{$o['height']}</div></td>
                    <td><div class="d-flex justify-content-center">{$o['gender']}</div></td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-info" href="{link personsInfo}?id_person={$o['id_person']}">
                                <span class="fa fa-address-card"></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-info" href="{link personsUpdate}?id_person={$o['id_person']}">
                                <span class="fa fa-pen"></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <form class="d-flex justify-content-center" method="post" onsubmit="return confirm('Are you sure?')" action="{link personsDelete}?id_person={$o['id_person']}">
                            <button class="btn btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}

        </table>


{/block}