{extends layout.latte}

{block title}Relation info{/block}

{block body}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{link relationUpdate}?id_relation={$relation['id_relation']}">
                <span class="fa fa-pen"></span>&nbsp;edit
            </a>
            <form class="" method="post" onsubmit="return confirm('Are you sure?')" action="{link relationDelete}?id_relation={$relation['id_relation']}">
                <button class="btn btn-danger" type="submit">
                    <span class="fa fa-trash"></span>&nbsp;delete
                </button>
            </form>
        </div>
        <div class="row">
            <div class="col-6">
                <h1>Relation</h1>
                <section>
                    <h2>Info</h2>
                    <table class="table">
                        <tr>
                            <th>Person 1:</th>
                            <td><a href="{link personsInfo}?id_person={$relation['id_person1']}">{$relation['first_name1'].' '.$relation['last_name1']}</a></td>
                        </tr>
                        <tr>
                            <th>Person 2:</th>
                            <td><a href="{link personsInfo}?id_person={$relation['id_person2']}">{$relation['first_name2'].' '.$relation['last_name2']}</a></td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>{$relation['description']}</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td>{$relation['name']}</td>
                        </tr>
                    </table>
                </section>

            </div>
        </div>
    </div>

{/block}