{extends layout.latte}

{block title}Relations{/block}

{block body}
    <div class="container p-0">
        <h1>Relations</h1>
        {if isset($message)}
            <p>{$message}</p>
        {/if}
    </div>
    <div class="container p-0 mb-2">
        <a class="btn btn-success" href="{link newRelation}">
            Add new relation
        </a>
    </div>
    <table class="table table-striped table-hover container">
        <tr>
            <th><div class="d-flex justify-content-center">Type</div></th>
            <th><div class="d-flex justify-content-center">Person 1</div></th>
            <th><div class="d-flex justify-content-center">Person 2</div></th>
            <th><div class="d-flex justify-content-center">Description</div></th>
            <th><div class="d-flex justify-content-center">Info</div></th>
            <th><div class="d-flex justify-content-center">Edit</div></th>
            <th><div class="d-flex justify-content-center">Delete</div></th>
        </tr>

        {foreach $relations as $r}
            <tr>
                <td><div class="d-flex justify-content-center">{$r['name']}</div></td>
                <td><div class="d-flex justify-content-center">{$r['first_name1'].' '.$r['last_name1']}</div></td>
                <td><div class="d-flex justify-content-center">{$r['first_name2'].' '.$r['last_name2']}</div></td>
                <td><div class="d-flex justify-content-center">{$r['description']}</div></td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-info" href="{link relationInfo}?id_relation={$r['id_relation']}">
                            <span class="fa fa-address-card"></span>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-info" href="{link relationUpdate}?id_relation={$r['id_relation']}">
                            <span class="fa fa-pen"></span>
                        </a>
                    </div>
                </td>
                <td>
                    <form class="d-flex justify-content-center" method="post" onsubmit="return confirm('Are you sure?')"
                          action="{link relationDelete}?id_relation={$r['id_relation']}">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {/foreach}
    </table>
{/block}