<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post" action="{link newRelation}{if !empty($id_person)}?id_person={$id_person}{/if}">
        <!-- Osoba -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="id_person1">Person 1</label>
                <select required class="form-control" name="id_person1" id="id_person1">
                    {foreach $person1 as $p}
                        <option {if $formData['id_person1'] == $p['id_person']}selected{/if} value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>
                    {/foreach}
                </select>
            </div>

            <div class="col-sm-4 form-group">
                <label for="id_person2">Person 2</label>
                <select required class="form-control" name="id_person2" id="id_person2">
                    {foreach $person2 as $p}
                        <option {if $formData['id_person2'] == $p['id_person']}selected{/if} value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>
                    {/foreach}
                </select>
            </div>

            <div class="col-sm-4 form-group">
                <label for="id_relation_type">Relation type</label>
                <select required class="form-control" name="id_relation_type" id="id_relation_type">
                    {foreach $relation_type as $rt}
                        <option {if $formData['id_relation_type'] == $rt['id_relation_type']}selected{/if} value="{$rt['id_relation_type']}">{$rt['name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <!-- Type -->
        <div class="form-row">
            <div class="col-sm-12 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" id="description" name="description" placeholder="Description"
                       value="{$formData['description']}">
            </div>
        </div>
        <br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
